@media(width < 999px) {
    header nav {
        display: none;
    }

    #menu {
        display: grid !important;
    }

    header .btn-menu {
        display: block;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 2rem;
        max-width: min-content;
        margin: auto 0 auto auto;
        box-shadow: 0 0 25px -10px #0008;
    }


    #portada {
        font-size: 3rem;

    }



    #portada a {
        font-size: 1.75rem;

    }




}