@media(width < 999px) {
    header nav {
        display: none;
    }

    header .btn-menu {
        display: block;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 2rem;
        max-width: min-content;
        margin: auto 0 auto auto;
    }


    #portada {
        font-size: 3rem;
    }


}